{% extends 'base.html' %} {% block title %}environment_main{% endblock %} {% block content %}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">环境资源</strong> / <small>environment</small></div>
</div>
<table class="am-table am-table-striped am-table-hover am-padding">
    <thead>
        <tr>
            <th>编号</th>
            <th>名称</th>
            <th>资源数</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>智能家居</td>
            <td>19</td>
            <td>
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div class="am-margin ">
    <button type="button" class="am-btn am-btn-primary am-btn-xs">新建环境</button>
</div>
{% endblock %}
