<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <ul class="am-list admin-sidebar-list">
            <li><a href="runtime"><span class="am-icon-home"></span> 运行页面</a></li>
            <li><a href="customization"><span class="am-icon-th"></span> 定制页面</a></li>
            <li><a href="list"><span class="am-icon-pencil-square-o"></span> 详情列表</a></li>
            <li><a href="import"><span class="am-icon-calendar"></span> 外部导入</a></li>
        </ul>
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-bookmark"></span> 公告</p>
                <p>这只是一个demo而已 --Self Adaption </p>
            </div>
        </div>
        <div class="am-panel am-panel-default admin-sidebar-panel">
            <div class="am-panel-bd">
                <p><span class="am-icon-tag"></span> wiki</p>
                <p>欢迎使用自适应平台!</p>
            </div>
        </div>
    </div>
</div>
